{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="products-section">
    <div class="products-section-container">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            {% for product in  products %}
                <tr>
                    <td>{{ product.prod_name }}</td>
                    <td>{{ product.prod_quantity }}</td>
                    <td>{{ product.prod_price }}</td>
                    <td><a href="/delete-product/{{ product.id }}">Delete</a></td>
                    <td><a href="/update-product/{{ product.id }}">Update</a></td>
                </tr>

            {% endfor %}

        </table>
    </div>
    </section>
{% endblock %}